{:company/legal-name "The Walt Disney Company"
 :company/lei "549300GZKULIZ0WOW665"
 :company/jurisdiction "US-DE"
 :company/website "https://thewaltdisneycompany.com"
 :company/ticker "DIS (NYSE)"
 :company/inquiry-form-url "https://thewaltdisneycompany.com/contact-us/"}
